/*
dark:           #332c50 #4c625a
medium dark:    #46878f #7b9278
medium light:   #94e344 #abc396
light:          #e2f3e4 #dbf4b4
*/
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
#game-container {
    background-color: #7b9278;
}
.cards {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 175px;
    background-color: #7b9278;
}
#oponent .cards {
    align-items: flex-start;
}
#player .cards {
    align-items: flex-end;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75px;
    height: 112px;
    background-color: #4c625a;
    border-style: solid;
    border-color: #4c625a;
    margin: 15px 5px 15px 5px;
}
.card:not(.hidden) {
    transition: transform 300ms ease, translate 200ms ease;
}
.card.hidden {
    visibility: hidden;
    transition: transform 10ms, translate 10ms;
}
.card-suit {
    font-size: 24px;
    text-align: center;
    background-color: #dbf4b4;
}
.card-value-top {
    font-size: 20px;
    text-align: left;
    color: #dbf4b4;
    background-color: #4c625a;
}
.card-value-bottom {
    font-size: 20px;
    text-align: right;
    color: #dbf4b4;
    background-color: #4c625a;
}
.status-bar {
    display: flex;
    width: 500px;
    height: 50px;
    background-color: #4c625a;
}
.health {
    display: inline-block;
    width: 50%;
    max-width: 50%;
    height: 100%;
    align-items: center;
}
.health-indicator:not(:first-child) {
    margin-left: -35px;
}
.health-indicator{
    display: inline;
    font-size: 32px;
}
.shield-indicator{
    display: inline;
    font-size: 32px;
}
.shield {
    display: inline-block;
    width: 30%;
    height: 100%;
    align-items: center;
}
.result {
    display: inline-block;
    text-align: right;
    width: 20%;
    height: 100%;
}
.turn-indicator{
    display: inline;
    font-size: 32px;
}
#player-cards .card:hover {
    transform: scale(1.2);
}
