/*
dark:           #332c50 #4c625a
medium dark:    #46878f #7b9278
medium light:   #94e344 #abc396
light:          #e2f3e4 #dbf4b4
*/
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    font-family: 'Anonymous Pro', monospace;
}
.cards {
    display: flex;
    justify-content: center;
    width: 100vmin;
    height: 35vmin;
    /* background-color: #7b9278; */
}
.cards-background-container {
    position:absolute;
    width: 100vmin;
    height: 35vmin;
    overflow: hidden;
    z-index:-1;
    /* background-color: #7b9278; */
}
#oponent .cards {
    align-items: flex-start;
    position: relative;
}
#player .cards {
    align-items: flex-end;
    position: relative;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vmin;
    height: 22vmin;
    background-color: #4c625a;
    border-style: solid;
    border-color: #4c625a;
    margin: 3vmin 1vmin 3vmin 1vmin;
}
.card:not(.hidden) {
    transition: transform 300ms ease, translate 200ms ease;
}
.card.hidden {
    visibility: hidden;
    transition: transform 10ms, translate 10ms;
}
.card-suit {
    font-size: 4vmin;
    text-align: center;
    background-color: #dbf4b4;
}
.card-value-top {
    font-size: 4vmin;
    text-align: left;
    margin-left: 1vmin;
    margin-top: 1vmin;
    color: #dbf4b4;
    background-color: #4c625a;
}
.card-value-bottom {
    font-size: 4vmin;
    text-align: right;
    margin-right: 1vmin;
    margin-bottom: 1vmin;
    color: #dbf4b4;
    background-color: #4c625a;
}
.status-bar {
    display: flex;
    width: 100vmin;
    height: 10vmin;
    color: #dbf4b4;
    background-color: #4c625a;
}
.health {
    display: inline-block;
    width: 55%;
    max-width: 55%;
    height: 100%;
    align-items: center;
}
.hearts-container {
    display: inline;
}
.health-indicator:not(:first-child) {
    margin-left: -6vmin;
}
.health-indicator {
    display: inline;
    font-size: 6vmin;
}
.shields-container {
    display: inline;
}
.shields-indicator {
    display: inline;
    font-size: 6vmin;
}
.shield-indicator:not(:first-child) {
    margin-left: -4vmin;
}
.shield {
    display: inline-block;
    width: 25%;
    height: 100%;
    align-items: center;
}
.hearts-indicator {
    display: inline;
    font-size: 6vmin;
}
.fade {
    transition: opacity 500ms ease-in-out;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0;
}
.shield-indicator {
    display: inline;
    font-size: 6vmin;
}
.result {
    display: inline-block;
    text-align: right;
    width: 20%;
    height: 100%;
}
.turn-indicator{
    display: inline;
    font-size: 6vmin;
}
#player-cards .card:hover {
    transform: scale(1.2);
}
.cards-background {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #7b9278;
    margin: -10px -10px -10px -10px;
    z-index:-1;
}
.blur-tutorial {
    filter: blur(3px) grayscale(95%);
}
.empty-icon {
    filter: grayscale(95%);
}
